# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal

# Django collected static files
staticfiles/
media/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/

# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# OS
# =========================
Thumbs.db
Desktop.ini


# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*